@page
@model kursach3.Pages.FindPeopleModel

@{
    ViewData["Title"] = "FindPeople";
}

<h1>Find People</h1>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Name and Bio:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./FindPeople">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./FindPeople" asp-route-sortOrder="@Model.UserNameSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.AppUserView[0].UserName)
                </a>
            </th>
            <th>
                <a asp-page="./FindPeople" asp-route-sortOrder="@Model.BioSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.AppUserView[0].Bio)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AppUserView) {
        <tr>
            <td>
                <a asp-page="./UserAccount" asp-route-id="@item.Id">@item.UserName</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.AppUserView.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.AppUserView.HasNextPage ? "disabled" : "";
}

<a asp-page="./FindPeople"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.AppUserView.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./FindPeople"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.AppUserView.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>

