@page
@model kursach3.Pages.RolePlay.DetailsModel

<div>
    <h4>RolePlay @DetailsModel.RolePlayName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RolePlaysViewModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RolePlaysViewModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RolePlaysViewModel.MasterUsername)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="../UserAccount" asp-route-id="@Model.RolePlaysViewModel.MasterId">@Model.RolePlaysViewModel.MasterUsername</a> 
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RolePlaysViewModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RolePlaysViewModel.Description)
        </dd>
    </dl>
</div>    
<form asp-page="./Details" method="get">
    <div class="form-actions no-color">
        <p>
@*            Find:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |*@
            @*<a asp-page="./Index">Back to full List</a> |*@
            <a asp-page="./Chat">Chat</a> 
        @if (Model.RolePlaysViewModel.MasterUsername == User.Identity?.Name)
            {
                @:||
                <a asp-page="./Edit" asp-route-id="@Model.RolePlaysViewModel.Id">Edit</a> 
                @:|
                <a asp-page="./AddNewPlayer" asp-route-id="@Model.RolePlaysViewModel.Id">Add New Player</a> 
                @:|
                <a asp-page="./DeleteRolePlay" asp-route-id="@Model.RolePlaysViewModel.Id">Delete</a> 
            }
        </p>
    </div>
</form>
<h4>List of Players</h4>
<table class="table">
    <thead>
        <tr>
            <th>                
@*                <a asp-page="./Details" asp-route-sortOrder="@Model.UsernameSort">     *@            
                    @Html.DisplayNameFor(model => model.CharactersViewModel[0].UserName)
@*                </a>*@
            </th>
            <th> 
@*                <a asp-page="./Details" asp-route-sortOrder="@Model.CharacterNameSort">*@
                    @Html.DisplayNameFor(model => model.CharactersViewModel[0].СharacterName)                
@*                </a> *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CharactersViewModel) {
        <tr>
            <td>
                <a asp-page="../UserAccount" asp-route-id="@item.UserId">@item.UserName</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.СharacterName)
            </td>
            <td>
                @if (DetailsModel.RolePlayMasterName == User.Identity?.Name || item.UserName ==  User.Identity?.Name)
    {
                <a asp-page="./EditCharacter" asp-route-roleplayid="@item.RolePlayId" asp-route-userid="@item.UserId" >Edit Character Name</a>

                        if (DetailsModel.RolePlayMasterName != User.Identity?.Name)
                        {                          
                            @:|                            
                            <a asp-page="./DeleteCharacter" asp-route-roleplayid="@item.RolePlayId" asp-route-userid="@item.UserId" >Delete Character</a>
                        }
    }
            </td>
        </tr>
}
</table>
@*@{
    var prevDisabled = !Model.CharactersViewModel.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.CharactersViewModel.HasNextPage ? "disabled" : "";
}
<a asp-page="./Details"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.CharactersViewModel.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Details"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.CharactersViewModel.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>*@
